.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.map_block {
  margin-left: 20px;
}

.map {
  height: 100%;
  width: 400px;
}

@media screen and (max-width: 899px) {
  .container {
    flex-direction: column;
  }

  .map_block {
    margin-left: 0;
  }

  .map {
    width: 100%;
  }
  
  .info {
    text-align: center;
    margin-bottom: 20px;
  }
}