.carousel_container {
  margin-top: 30px;
}

.carousel_item {
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: rgb(252, 245, 245);
  border-radius: 10px;
  padding: 5px;
}

.carousel_info {
  width: 65%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.technologies_block {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.technology_item {
  padding: 5px;
  background-color: bisque;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
}

.technology_item:not(.technology_item:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 949px) {
  .carousel_item {
    flex-direction: column;
  }
  .img {
    order: -1;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel_info {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .img {
    order: -1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .technology_item {
    font-size: 14px;
  }
}